<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sencerity">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sencerity"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sencerity_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddNewBarcodeActivity"></activity>
        <activity android:name=".PatientSelectActivity" />
        <activity android:name=".SendActivity" />
        <activity android:name=".testerActivity" />
        <activity android:name=".ConfirmFoodAddedActivity" />
        <activity android:name=".AddFoodToDiaryActivity" />
        <activity android:name=".NutritionalActivity" />
        <activity android:name=".BarcodeScannerActivity" />
        <activity android:name=".SleepActivity" />
        <activity android:name=".MobilityActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".ContinenceActivity" />
        <activity android:name=".HygieneActivity" />
        <activity android:name=".DressingActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".NotificationActivity">
            <intent-filter>
                <action android:name=".notification.target.senc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>