<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sencerity">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sencerity"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sencerity_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testerActivity"></activity>
        <activity android:name=".ConfirmFoodAddedActivity" />
        <activity android:name=".AddFoodToDiary" />
        <activity android:name=".NutritionalActivity" />
        <activity android:name=".BarcodeScannerActivity" />
        <activity android:name=".PatientOption" />
        <activity android:name=".SleepActivity" />
        <activity android:name=".MobilityActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".ContinenceActivity" />
        <activity android:name=".HygieneActivity" />
        <activity android:name=".DressingActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".LoggedIn" />
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>